:root {
    /* Background colors */
    --colorBack: #fff;
    --footerBack: #f9f9f9;
    --cartaBack: #f8f8f8;
    --resaltadoMensaje: #ffd400;
    --detallesCarta: #d5ba7f;
    --redesIconos: #c0a789;
    --whatsAppIcon: #20c453;
    --mainText: #90272996;
    --bottonBack: #902729;
    --navBack: #680a0a;
    /* Text colors */
    --textWhite: #fff;
    --textKK: #d5ba7f;
    --textHover: #c0a789;
    --textSubTitle: #ac8e4d;
    --textP: #7a7a7a;
    --textTitle: #902729;
    /* Font-size */
    --font-sizeTitle: 2rem;
    --font-sizeSubTitle: 1.5rem;
    --font-sizeP: 1.1rem;
    --font-sizeCarta: 1.3rem;
    --fontStyle: 'Lato', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

    /* Nav */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navBack);
    width: 100%;
}

.nav-left {
    display: flex;
    gap: 1.1rem;
    padding-right: 3rem;
}

.nav-left a {
    text-decoration: none;
    font-family: var(--fontStyle);
    color: var(--textWhite);
    font-size: var(--font-sizeP);
    transition: .5s;
}

a:first-child {
    font-weight: 700;
    color: var(--textHover);
    text-decoration: none;
    font-size: var(--font-sizeP);
    font-family: var(--fontStyle);
}

.nav-left a:hover{
    color: var(--textHover);
}

.button-search {
    position: absolute;
    right: 1.1rem;
    top: 0.5rem;
    border: none;
    background-color: transparent;
    transition: .5s;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.search{
    color: var(--textWhite);
    font-size: var(--font-sizeP);
    max-width: 1rem;
    max-height: 1rem;
}

.button-search:hover{
    background-color: var(--textHover);
    transform: 10;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.mobile {
    display: none;
}

.cerrar {
    display: none;
}
    /* Main */

    /* Introduccion */

.title{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    justify-self: center;
    align-items: center;
    padding-top: 2.2rem;
}

.title h1{
    font-family: var(--fontStyle);
    font-size: var(--font-sizeSubTitle);
    color: var(--textSubTitle);
    padding-bottom: 2rem;
    text-align: center;
}

    /* Divider */

.divider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.divider hr{
    height: 0.2rem;
    width: 18rem;
    background-color: var(--detallesCarta);
    border: none;
}

.divider .cafe{
    color: var(--detallesCarta);
    font-size: 1.6rem;
}

    /* Fin del divider */

.title p {
    font-family: var(--fontStyle);
    font-size: var(--font-sizeP);
    text-align: center;
    padding-top: 1rem;
    line-height: 2rem;
    color: var(--textP);
    padding-top: 1.5rem;
}

    /* Divider de nuestra carta */

.dividerCarta{
    padding-top: 3rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.dividerCarta img {
    filter: inherit;
    border-radius: 0.7rem;
}

.dividerCarta h2{
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--textWhite);
    position: absolute;
    font-family: var(--fontStyle);
    font-size: var(--font-sizeSubTitle);
}

.dividerCarta span{
    text-decoration: underline;
}

    /* Carta */

.carta{
    margin-top: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-carta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
}

.title-carta hr{
    height: 0.1rem;
    width: 10rem;
    border-top: dotted 0.4rem;
    color: var(--detallesCarta);
}

.title-carta h1{
    font-family: var(--fontStyle);
    font-size: var(--font-sizeTitle);    
    color: var(--mainText);
    font-weight: 800;
}

    /* Menu */

.carta-menu{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
}

.carta-menu div {
    text-align: center;
}

.carta-menu div img{
    border-radius: 50%;
    border: 5px solid var(--detallesCarta);
    transition: .5s;
}

.carta-menu div img:hover{
    transform: scale(1.1);;
}

.carta-menu div h2{
    padding-top: 0.7rem;
    font-size: var(--font-sizeCarta);
    font-family: var(--fontStyle);
    color: var(--textSubTitle);
}

    /* Destacados */

.destacados{
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}

.carta-destacados {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 1.1rem;
    padding-top: 2rem;
    
}

    /* Slider */

.slider-container{
    max-width: 400px;
    position: relative;
}

.slider-container i{
    color: var(--textSubTitle);
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
    font-size: var(--font-sizeSubTitle);
}

.slider-container i:first-child{
    left: -2.2rem;
}

.slider-container i:last-child{
    right: -2.2rem;
}

.slider{
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
    border-radius: 2%;
}

.slider img {
    border-radius: 2%;
    width: 400px;
    margin-left: 1rem;
}

.slider img:first-child{
   margin-left: 0rem;
}

.texto-destacado{
    width: 30%;
}

.texto-destacado h1{
    text-align: center;
    font-family: var(--fontStyle);
    font-size: var(--font-sizeTitle);
    color: var(--textSubTitle);
    padding-bottom: 2rem;
}

.texto-destacado h1 span{
    text-decoration: underline;
}

.texto-destacado p {
    line-height: 2rem;
    font-family: var(--fontStyle);
    font-size: var(--font-sizeP);
    color: var(--textP);
    text-align: start;
}

.texto-destacado p span {
    font-weight: 700;
}

.texto-destacado a {
    text-decoration: none;
    background-color: var(--bottonBack);
    color: var(--textWhite);
    font-family: var(--fontStyle);
    font-size: var(--font-sizeP);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 5%;
    transition: .5s;
}

.texto-destacado a:hover{
    background-color: var(--textSubTitle);
}

    /* Caracteristicas de la pagina Web */

.container-caracteristicas{
    background-color: var(--cartaBack);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 100px;
    width: 80%;
}

.container-caracteristicas a {
    font-family: var(--fontStyle);
    font-size: var(--font-sizeCarta);
    background-color: var(--bottonBack);
    color: var(--textWhite);
    text-align: center;
    padding: 0.6rem 1.2rem;
    transition: .5s;
    border-radius: 5px;
}

.container-caracteristicas a:hover{
    background-color: var(--detallesCarta);
}

    /* Qr code */

.container-qr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
    width: 80%;
}

.container-qr p{
    padding-top: 0.2rem;
    font-size: var(--font-sizeP);
    font-family: var(--fontStyle);
    color: var(--textP);
}

    /* Ver mas info section */

.vermasinfo-container {
    background-color: var(--resaltadoMensaje);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 100px;
    width: 80%;
    margin-bottom: 1rem;
}

.vermasinfo-container h3{
    text-align: center;
    font-family: var(--fontStyle);
    font-size: var(--font-sizeCarta);
    color: var(--textP);
}

.vermasinfo-container a {
    text-decoration: none;
    font-family: var(--fontStyle);
    font-size: var(--font-sizeCarta);
    color: var(--textP);    
}

    /* Footer */

footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-section h1{
    font-family: var(--fontStyle);
    font-size: var(--font-sizeP);
    color: var(--navBack);
    margin-bottom: 0.5rem;
    text-align: center;
}

.footer-section h2{
    font-family: var(--fontStyle);
    font-size: var(--font-sizeP);
    color: var(--navBack);
    margin-bottom: 0.5rem;
}

.footer-section i{
    color: var(--detallesCarta);
    font-size: var(--font-sizeTitle);
    padding-right: 1rem;
    cursor: pointer;
}

    /* Responsive Mobile */

@media (width < 765px) {

    nav{
        position: relative;
    }
    .nav-right{
        display: flex;
        align-items: center;
    }
    .nav-left{
        flex-direction: column;
        justify-content: center;
        align-items: end;
        background-color: var(--navBack);
        padding: 6rem 2rem 5rem 0rem;
        width: 100%;
        display: none;
    }
    .nav-left a {
        text-align: end;
    }
    .button-search{
        position: absolute;
        top: 2rem;
        right: 5rem;
    }
    .mobile{
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: var(--font-sizeCarta);
        height: var(--font-sizeCarta);
    }
    .cerrar{
        display: flex;
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: var(--font-sizeCarta);
        height: var(--font-sizeCarta);
        display: none;
    }    
    .mostrar{
        display: flex;
    }
    .title{
        width: 90%;
    }
    .divider hr{
        width: 5rem;
    }
    .dividerCarta img{
        border-radius: 0px;
        width: 100%;
        height: 80%;
    }
    .dividerCarta h2{
        font-size: 1rem;
    }
    .title-carta{
        gap: 1rem;
    }
    .title-carta hr{
        width: 3rem;
    }
    .title-carta h1{
        font-size: var(--font-sizeSubTitle);
    }
    .title-carta h1{
        font-size: var(--font-sizeCarta);
    }
    .slider-container{
        max-width: 250px;
    }
    .slider-container img{
        width: 250px;
    }
    .carta-menu{
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .carta-destacados{
        flex-direction: column-reverse;
    }
    .texto-destacado{
        width: 80%;
    }
    .texto-destacado h1{
        font-size: 1.5rem;
    }
    .texto-destacado p {
        text-align: center;
        font-size: var(--font-sizeP);
    }
    .container-caracteristicas{
        width: 100%;
    }
    .container-qr{
        text-align: center;
    }
    .vermasinfo-container{
        width: 100%;
    }
    footer{
        flex-direction: column;
        gap: 1rem;
    }
    .footer-section h2{
        text-align: center;
    }
}